

<div class="main-content">
    <div class="row">




        <div class="col-md-12">


            <div class="card">
                <div class="card-header card-header-danger">

                    <p class="card-category">5 Réclamations per page, {{ cValue }}</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-dark">
                        <th>Id</th>
                        <th>Nom Departement</th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let c of claims ">
                            <td>{{ c.subject }}</td>
                            <td>{{ c.description }}</td>
                            <td>{{c.claim_date}}</td>
                            <td>
                                <span class="badge" [ngClass]="getStatusBadgeClass(c.status)">{{ c.status }}</span>
                            </td>
                            <td>{{c.claimantName}}</td>
                            <td>{{c.claimantEmail}}</td>
                            <td>{{c.responseCount}}</td>

                        </tr>
                        </tbody>
                    </table>

                    <mat-paginator
                            [length]="totalElements"
                            [pageSize]="5"
                            [pageSizeOptions]="[5, 10, 25, 100]"
                            (page)="nextPage($event)"
                            aria-label="Select page"
                    >
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
